<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="IDETEST">
<!--  <test name="ICBTests">
    <classes>
      <class name="tests.OpenPagesSysAdmin"/>
      <class name="tests.OpenPagesCC"/>
      <class name="tests.OpenPagesUser"/>
      <class name="tests.OpenPagesExternalUser"/>
      <class name="tests.ManageCampaign"/>      
    </classes>
  </test> <!-- Test -->
  
    <test name="AZURETests">
    <classes>
      <class name="tests.AZOpenPagesSysAdmin"/>
      <class name="tests.AZOpenPagesCC"/>
      <class name="tests.AZOpenPagesUser"/>
      <class name="tests.AZManageCampaign"/>      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->



