<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
    <classes>
      <class name="tests.OpenPagesCC"/>
      <class name="tests.IPTest1"/>
      <class name="tests.OpenPagesSysAdmin"/>
      <class name="tests.OpenPagesUser"/>
      <class name="common.Common"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
